.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.search-results {
  width: 50%;
}

.artist-header {
  background-color: #282c34;
  color: white;
  font-family: 'Oxygen', sans-serif;
}

.resize-boarder {
  border: dashed 1px #ddd;
}

